APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaLimites-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaLimites-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaLimites">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaLimitesReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaLimites">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaLimitesRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaLimitesReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaLimitesRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="identificador" type="ns1:IdTarjetaType" />
            <xsd:element minOccurs="0" name="limiteCompra" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCompraCuotas" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCompraDisponible" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCompraCuotasDisponible" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCompraDisponibleAdelantos" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteOperacionesInternacionales" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteFinanciacion" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteAdelantos" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>