APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaClubSupervielle-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaClubSupervielle-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:complexType name="DataConsultaClubSupervielleReqType">
    <xsd:sequence>
      <xsd:element name="identificador">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idClienteTarjetaCred" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaClubSupervielleRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="puntosAcumulados" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReqConsultaClubSupervielle">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaClubSupervielleReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaClubSupervielle">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaClubSupervielleRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>