APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v129.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaCabeceraResumen-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaCabeceraResumen-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaCabeceraResumen">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaCabeceraResumenReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaCabeceraResumen">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaCabeceraResumenRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaCabeceraResumenReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaCabeceraResumenRespType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="vencimientoActual" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="vencimientoAnterior" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="fechaUltimoPago" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="cierreAnterior" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="cierreActual" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="saldoActualPesos" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="saldoActualDolar" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="pagoMinimoActual" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="saldoAnteriorPesos" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="saldoAnteriorDolar" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="proximoVencimiento" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="pagoMinimoAnterior" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="comprasAnterioresPesos" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="comprasAnterioresDolar" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCompra" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="limiteCredito" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>