APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v126.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaEstado-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaEstado-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaEstTarjeta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaEstTarjetaReq" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaEstTarjeta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaEstTarjetaRes" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaEstTarjetaReq">
    <xsd:sequence>
      <xsd:element name="nroSolicitud" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaEstTarjetaRes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="marca">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="nomMarca" type="xsd:string" />
                  <xsd:element name="codMarca" type="xsd:int" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="historial">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="registro">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="estado">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="codigo" type="xsd:int" />
                              <xsd:element name="descripcion" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="error">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="codigo" type="xsd:int" />
                              <xsd:element name="descripcion" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="titular">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="nroPlastico" type="xsd:string" />
                              <xsd:element minOccurs="0" name="identificador" type="ns1:IdClienteType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="adicional">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="nroPlastico" type="xsd:string" />
                              <xsd:element minOccurs="0" name="identificador" type="ns1:IdClienteType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="fechaEst" type="xsd:dateTime" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>