APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaHistorialPago-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaHistorialPago-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaHistorialPago">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element minOccurs="0" ref="ns1:Order" />
        <xsd:element name="Data" type="DataConsultaHistorialPagoReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaHistorialPago">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element name="Data" type="DataConsultaHistorialPagoRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaHistorialPagoReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaHistorialPagoRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="identificador" type="xsd:anyType" />
            <xsd:element name="numeroLote" type="xsd:string" />
            <xsd:element name="numeroCobranza" type="xsd:string" />
            <xsd:element minOccurs="0" name="fechaUltLiq" type="xsd:date" />
            <xsd:element minOccurs="0" name="importe" type="xsd:decimal" />
            <xsd:element minOccurs="0" name="fechaIngresoCobro" type="xsd:date" />
            <xsd:element minOccurs="0" name="fechaPago" type="xsd:date" />
            <xsd:element name="formaPago" type="ns1:codDescStringType" />
            <xsd:element minOccurs="0" name="importeTotal" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>