APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaEstadoAltaInstantaneaMaster-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaEstadoAltaInstantaneaMaster-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:complexType name="DataConsultaEstadoAltaInstantaneaMasterReqType">
    <xsd:sequence>
      <xsd:element name="numSolicitud" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaEstadoAltaInstantaneaMasterRespType">
    <xsd:sequence>
      <xsd:element name="codigoResolucion" type="xsd:int" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="solicitud">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codigoResolucion" type="xsd:int" />
            <xsd:element name="descripcion" type="xsd:string" />
            <xsd:element name="numSolicitud" type="xsd:integer" />
            <xsd:element name="cuenta" type="xsd:integer" />
            <xsd:element name="tarjeta" type="xsd:integer" />
            <xsd:element name="vencimiento" type="xsd:integer" />
            <xsd:element name="cvc" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReqConsultaEstadoAltaInstantaneaMaster">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaEstadoAltaInstantaneaMasterReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaEstadoAltaInstantaneaMaster">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaEstadoAltaInstantaneaMasterRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>