APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaPlafond-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaPlafond-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaPlafond">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaPlafondReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaPlafond">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaPlafondRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaPlafondReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaPlafondRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="identificador" type="ns1:IdTarjetaType" />
            <xsd:element minOccurs="0" name="PlafondTarjetaCredito" type="xsd:decimal" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>