APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v125.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaParametros-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaParametros-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaParametros">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaParametrosReq" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaParametros">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaParametrosResp" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaParametrosReq">
    <xsd:sequence>
      <xsd:element name="Operacion" type="xsd:int" />
      <xsd:element name="Principal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InterCodi" type="xsd:int" />
            <xsd:element name="ProducCodi" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Filiatorios" type="xsd:string" />
      <xsd:element minOccurs="0" name="Complementarios" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaParametrosResp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Operacion">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CodigoResolucion" type="xsd:int" />
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Detail">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ParamCodi" type="xsd:int" />
                        <xsd:element name="Defecto" type="xsd:string" />
                        <xsd:element name="ParamMarcaValor" type="xsd:string" />
                        <xsd:element name="ParamDescri" type="xsd:string" />
                        <xsd:element name="Response_Id" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="Errores">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="DescripcionResolucion" type="xsd:string" />
                        <xsd:element name="Error">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="DescripcionError" type="xsd:string" />
                              <xsd:element name="CodigoError" type="xsd:int" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="Codigo" type="xsd:integer" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>