APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v117.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaUltDetalleLiquidacion-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaUltDetalleLiquidacion-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaUltDetalleLiquidacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaUltDetalleLiquidacionReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaUltDetalleLiquidacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaUltDetalleLiquidacionRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaUltDetalleLiquidacionReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaUltDetalleLiquidacionRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row" type="ns1:operacionTC" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>