APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaUltimoResumen-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaUltimoResumen-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaUltimoResumen">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaUltimoResumenReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaUltimoResumen">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataConsultaUltimoResumenRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaUltimoResumenReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaUltimoResumenRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row" type="ns1:resumenTC" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>