APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v119.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaAdicionales-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaAdicionales-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:element name="ReqConsultaAdicionales">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element minOccurs="0" ref="ns1:Order" />
        <xsd:element name="Data" type="DataConsultaAdicionalesReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaAdicionales">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element name="Data" type="DataConsultaAdicionalesRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaAdicionalesReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdTarjetaType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaAdicionalesRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="identificador" type="ns1:IdTarjetaType" />
            <xsd:element name="numeroTarjeta" type="xsd:string" />
            <xsd:element name="tarjetaHabiente" type="ns1:IdClienteType" />
            <xsd:element name="nombreApellido" type="xsd:string" />
            <xsd:element name="titularidad" type="ns1:codDescStringType" />
            <xsd:element name="marca" type="ns1:codDescStringType" />
            <xsd:element name="cuentaTarjeta" type="xsd:string" />
            <xsd:element name="tipoTarjeta" type="ns1:codDescStringType" />
            <xsd:element name="sigla" type="xsd:string" />
            <xsd:element name="cartera" type="ns1:codDescStringType" />
            <xsd:element minOccurs="0" name="fechaVtoTarjeta" type="xsd:date" />
            <xsd:element minOccurs="0" name="fechaProcesamiento" type="xsd:date" />
            <xsd:element minOccurs="0" name="fechaUltProcesamiento" type="xsd:date" />
            <xsd:element name="entidad" type="ns1:codDescStringType" />
            <xsd:element name="banco" type="ns1:codDescStringType" />
            <xsd:element name="saldos">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="saldoPesos" type="xsd:decimal" />
                  <xsd:element minOccurs="0" name="saldoDolares" type="xsd:decimal" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="fechaCierre" type="xsd:date" />
            <xsd:element name="estado" type="ns1:codDescStringType" />
            <xsd:element name="inhabilitacion" type="ns1:codDescStringType" />
            <xsd:element minOccurs="0" name="limiteCompra" type="xsd:decimal" />
            <xsd:element name="vigenciaDesde" type="xsd:string" />
            <xsd:element name="vigenciaHasta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>