APISOA/Service References/SOATarjetaCredito/tarjetaCredito-v121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaListado-v1.1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/tarjetaCredito/consultaListado-v1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://dasoa-01:9813/wsdl/servicios/integracion/tarjetaCredito-v1.2?xsd=xsd30" namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" />
  <xsd:complexType name="datosTarjeta">
    <xsd:sequence>
      <xsd:element name="formaPago" type="xsd:string" />
      <xsd:element name="marcaPago">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="marcaPagoformadescri" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReqConsultaListado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element minOccurs="0" ref="ns1:Order" />
        <xsd:element name="Data" type="DataConsultaListadoReqType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespConsultaListado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="ns1:Paging" />
        <xsd:element name="Data" type="DataConsultaListadoRespType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataConsultaListadoReqType">
    <xsd:sequence>
      <xsd:element name="identificador" type="ns1:IdClienteType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataConsultaListadoRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="identificador" type="ns1:IdTarjetaType" />
            <xsd:element name="Listado">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="idCliente" nillable="true" type="xsd:string" />
                  <xsd:element name="marca" type="ns1:codDescStringType" />
                  <xsd:element name="cuentaTarjeta" nillable="true" type="xsd:string" />
                  <xsd:element name="denominacion" nillable="true" type="xsd:string" />
                  <xsd:element name="tipoTarjeta" type="ns1:codDescStringType" />
                  <xsd:element name="sigla" nillable="true" type="xsd:string" />
                  <xsd:element name="titularidad" nillable="true" type="ns1:codDescStringType" />
                  <xsd:element name="cartera" type="ns1:codDescStringType" />
                  <xsd:element minOccurs="0" name="vigencia" nillable="true" type="xsd:date" />
                  <xsd:element minOccurs="0" name="fechaProcesamiento" nillable="true" type="xsd:date" />
                  <xsd:element minOccurs="0" name="fecha" nillable="true" type="xsd:date" />
                  <xsd:element name="entidad" type="ns1:codDescStringType" />
                  <xsd:element name="banco" type="ns1:codDescStringType" />
                  <xsd:element name="saldo">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="pesos" nillable="true" type="xsd:decimal" />
                        <xsd:element name="dolares" nillable="true" type="xsd:decimal" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="cierreFecha" nillable="true" type="xsd:date" />
                  <xsd:element name="estado" type="ns1:codDescStringType" />
                  <xsd:element name="marcaInhabilitacion" type="ns1:codDescStringType" />
                  <xsd:element name="limiteCompra" type="xsd:decimal" />
                  <xsd:element name="formaPago" type="ns1:codDescStringType" />
                  <xsd:element name="cuentaNroBT" type="xsd:string" />
                  <xsd:element name="producto" type="ns1:codDescStringType" />
                  <xsd:element name="gaf" type="ns1:codDescStringType" />
                  <xsd:element name="prodSigla" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>